In [1]:
print("Hello World")

Hello World

In [7]:
a=3*5
print(a)

15

In [3]:
10/5

2.0

python data types

mutable - list,set,dict;
immutable - boolean,integer,floating point,test str,tuple,frozen set;

In [1]:
#boolean
a = 10>9
print(a)

True

In [2]:
type(a)

bool

In [3]:
#integer
b = 3
print(b)

3

In [4]:
type(b)

int

In [5]:
#float
c = 3.2
print(c)

3.2

In [7]:
type(c)

float

In [8]:
#string
d='Hello World'
print(d)

Hello World

In [11]:
type(d)

str

advanced Data types
Sequence types

In [12]:
#list
x = [1,2,3]
type(x)

list

In [13]:
#tuple
x = (1,2,3)
type(x)

tuple

In [14]:
#range
x = range(0,5)
type(x)

range

In [15]:
#string
x = "Hello"
type(x)

str

advanced data types - set types

In [17]:
#set
x = {"apple","orange","pear"}
type(x)

set

In [18]:
#frozenset
x = frozenset({"apple","orange"})
type(x)

frozenset

Advanced types - mapping types

In [21]:
#dictionary
x = {1:'a',2:'b',3:'c'}
type(x)

dict

variables points to an object;
python object contains : unique ID , type,value,reference count;
Observe,the type of the object is stored within the object and inferred during runtime

variable names - 0-9,a-z,A-Z,_ ;
case sensitive

In [27]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [26]:
#var1 is just a name pointing to string object
var1 = "hello"

In [29]:
import sys
#int is immutable
#type of the object cannot be changed
x = 59023333
#x points to the int object
#initial reference count = 3
print(sys.getrefcount(x))

y=x
#y and x points to int object of value 59023333
print(sys.getrefcount(x))

x = 23446666 
#x points to the new object 23446666 and y points to the old object
print(sys.getrefcount(y))

#when ref count becomes 0, the object becomes eligible for garbage collection

3
4
3

Mathematical operation

In [30]:
x = 3
y = 5

In [36]:
print(x+y)
print(x-y)
print(x*y)
print(y/x)    #division
print(y//x)   #truncate division
print(y % x)  #modulus
print(y ** x) #exponent

8
-2
15
1.6666666666666667
1
2
125

In [37]:
x=x+y
print(x)
#shorthand
x += y
print(x)
#mutiple operations use precedence rules

8
13

In [40]:
#long comment
#explaining the concept of 
#multi line comments

'''long comment the string typed here
is not assigned to any variable
and not used anywhere.'''

a=333
print(a)

333

if else statements

In [42]:
a = 5
if a>0:
        print("a is positive")
        print("inside if block")
print("outside if block")

b = -5
if b>0:
        print("b is positive")
        print("inside if block")
print("outside if block")

a is positive
inside if block
outside if block
outside if block

In [43]:
a = -5
if a>0:
        print("a is positive")
        print("inside if block")
else:
        print("b is positive")
        print("inside else block")
print("outside if- else block")

b is positive
inside else block
outside if- else block

In [46]:
#nested ifs
a = -5
if a>0:
        print("a is positive")
else:
    if a == 0:   
        print("a is zero")
    else:
        print("a is negative")

a is negative

In [47]:
#else if ladder
a = 0
if a>0:
    print("a is positive")
elif a == 0:   
    print("a is zero")
else:
    print("a is negative")

a is zero

In [48]:
#logical operatoes - and or not ;
#using in operator
vowels = 'aeiou'
l = 'e'
isVowel = l in vowels
print(isVowel)

True

sequence type and operations

Comparision

In [2]:
name = "prashant"
nameList = ["abdul",'john','lisa']

In [4]:
print(name == 'Prashant')
print(name == 'prashant')

False
True

In [8]:
print(nameList == ['john','abdul','lisa'] )
print(nameList == ['abdul','john','lisa'] )

False
True

Containment testing

In [14]:
print('h' in name)
print('as'in name) #subsequence search - available only for strings
print('tn' in name)

True
True
False

In [17]:
print('abdul' in nameList)
print('abdulla' not in nameList)
# subsequence test wont work for tuples and lists
print((['abdul','john']) in nameList)

True
True
False

Concatenation and repetition
sequence sets can be combined if they are of same type

In [19]:
print (name + " pandey")

prashant pandey

In [20]:
print(nameList + name)

TypeError: can only concatenate list (not "str") to list

In [21]:
print(nameList + [name])

['abdul', 'john', 'lisa', 'prashant']

In [23]:
repeatedName = (name + "") * 3
print(repeatedName)

prashantprashantprashant

In [24]:
repeatedList = nameList * 2
print("New list " + str(repeatedList))

New list ['abdul', 'john', 'lisa', 'abdul', 'john', 'lisa']

Element extraction and slicing

In [25]:
print(name[2])

a

In [26]:
#negative index is subtracted from the string length
#name(6) - or second element from the last
print(name[-2])

n

In [27]:
print(name[9])

IndexError: string index out of range

In [28]:
#index starts from 0,third element from the list is chosen
print(nameList[2])

lisa

In [29]:
print(nameList[-2])

john

slicing

In [ ]:
# s[start_index:stop_index:step_size]
# start_index < stop_index in case step size not mentioned

In [31]:
nstr = "hello this is string"
nameList = ["abdul",'john','lisa','mona']

In [33]:
print(name[0])
print(name[0:6]) #7th element name[6] not included
print(nstr[0:5])

p
prasha
hello

In [34]:
print(nameList[1:3])

['john', 'lisa']

In [36]:
print(name[:4])
print(name[2:])

pras
ashant

In [38]:
print(name[:]) #not recommended

prashant

In [39]:
print(nstr[-6:])

string

In [40]:
print(nstr[9:-7])

s is

In [ ]:
#default step size is 1
#start <= step < stop

In [42]:
print(nstr[0:15:3])

hltss

In [45]:
print(nstr[-3:-15:1]) #returns null
print(nstr[-3:-15:-1])

irts si siht

In [46]:
# s.index(x[,start_index[,stop_index]])

In [55]:
nstr = 'whew'
print(nstr.index('w',0,4))
#first occurence

0

string literals

In [56]:
msg1 = 'scooby "doobe" doo'
msg2 = "scooby doobe doo"
print(msg1)
print(msg2)

scooby "doobe" doo
scooby doobe doo

In [58]:
#leading and trailing spaces are preserved in triple string
msg = """ scoobey
        doobe
doo
"""
print(msg)

 scoobey
        doobe
doo

In [59]:
#using backslash
'Don\'t run'

"Don't run"

In [61]:
msg = "hi\nhello"
print(msg)

hi
hello

string functions

In [65]:
name = 'Big data'
len(name)

8

In [70]:
name.split(" ")

['Big', 'data']

In [72]:
name = 'big data,machine learning,artificial engineering'
name.split(",")

['big data', 'machine learning', 'artificial engineering']

In [73]:
#join does the opposite of split - convert list to string based on a joining character
nameList = ['big data','machine learning','artificial engineering']
nameString = ','.join(nameList)
print(nameString)

big data,machine learning,artificial engineering

In [75]:
msg = 'Hey there! I am going to the park.'
print(msg.replace('park','zoo'))
print(msg)

Hey there! I am going to the zoo.
Hey there! I am going to the park.

In [77]:
name = "   hi   "
print(name.strip())
print(name.rstrip())
print(name.lstrip())
#check documnetation for such functions

hi
   hi
hi

string formatting

In [80]:
name = "John"
age = '25'
info = "hey!Its " + name + " ,I am "+ age + " years old."
print(info)

hey!Its John ,I am 25 years old.

In [83]:
#using place holders for sustitution
info = "Hey!Its {} and I am {} years old.".format(name,age)
print(info)

Hey!Its John and I am 25 years old.

In [85]:
#for python 3.6 and above
info = f"Hey!Its {name} and I am {age} years old."
print(info)

Hey!Its John and I am 25 years old.

Sequence types - tuple(immutable) and list(mutable)

In [86]:
#can have heterogenous data types
mylist = ["big data",'Machine Learning']
myTuple = ('Artificial intelligence','data analytics',2,3.6)

In [87]:
mylist.append('Data science')
print(mylist)

['big data', 'Machine Learning', 'Data science']

In [88]:
myTuple.append('Data science')

AttributeError: 'tuple' object has no attribute 'append'

In [89]:
print(len(myTuple))

4

In [94]:
list1 = [1,2,3,4]
print(max(list1))

4

In [95]:
list1.pop()
list1

[1, 2, 3]

In [96]:
list1.append(5)
list1

[1, 2, 3, 5]

In [98]:
list1.insert(3,4)
list1

[1, 2, 3, 4, 4, 5]

loops,range and list comprehension

In [99]:
#while loop
a=0
while a<5:
    print(a)
    a += 1

0
1
2
3
4

In [102]:
name = "learning journal"
i=0
while True:
    if name[i] == 'j':
        break
    print(name[i])
    i += 1
print("outside block")

l
e
a
r
n
i
n
g

outside block

In [103]:
#infinite loop
#break and continue needs to be avoided as good programming practice

name = "learning journal"
i=0
while True:
    if name[i] == 'J':
        break
    print(name[i])
    i += 1
print("outside block")

l
e
a
r
n
i
n
g

j
o
u
r
n
a
l

IndexError: string index out of range

In [104]:
num = 5

while num > 0:
    num -= 1
    if num == 2:
        continue
    print(num)
print("outside block")

4
3
1
0
outside block

for loop

In [106]:
grocery_list = ['eggs','milk','bread','veggies']
for food in grocery_list:
    print(food)

eggs
milk
bread
veggies

In [107]:
myRange = range(10)

In [108]:
#default start value is 0
print(myRange)

range(0, 10)

In [109]:
for i in myRange:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [111]:
#end point is exclusive
for i in range(5,10):
    print(i)

5
6
7
8
9

In [115]:
#using step size
for i in range(5,15,2):
    print(i)

5
7
9
11
13

In [118]:
for i in range(20,10,-2):
    print(i)

20
18
16
14
12

In [124]:
rectangles =[(15,10),(3,5),(5,6)]

In [125]:
areas = []
for (x,y) in rectangles:
    areas.append(x*y)
print(areas)

[150, 15, 30]

In [127]:
areas = []
rectangle_areas = []
for (x,y) in rectangles:
    areas.append(x*y)
    rectangle_areas.append((x,y,x*y))
print(areas)
print(rectangle_areas)

[150, 15, 30]
[(15, 10, 150), (3, 5, 15), (5, 6, 30)]

In [128]:
#using a more concise code for the above
#comprehension list (uses lambdas ,functional programming approach)
rectangle_areas = [(x,y,x*y) for (x,y) in rectangles]
print(rectangle_areas)

[(15, 10, 150), (3, 5, 15), (5, 6, 30)]

Python dictionaries

In [131]:
#unordered collection of items
#mutable
info_1 = {'ron':101,'john':102,'rick':105}
print(info_1)

{'ron': 101, 'john': 102, 'rick': 105}

In [132]:
#latest value for ron is taken
info_1 = {'ron':101,'ron':102,'rick':105}
print(info_1)

{'ron': 102, 'rick': 105}

In [133]:
info_2 =dict({'ron':101,'john':102,'rick':105})
print(info_2)

{'ron': 101, 'john': 102, 'rick': 105}

In [134]:
info_3 = dict(ron = 1,john = 2,rick =3)
print(info_3)

{'ron': 1, 'john': 2, 'rick': 3}

In [135]:
#dict function generally used to convert tuples and lists having 
#key-value pair elements

In [136]:
my_list = [('tom',104),('john',105)]

In [145]:
info_4 = dict(my_list)
print(info_4)

{'tom': 104, 'john': 105}

In [146]:
info_4['tom']

104

In [147]:
#mutability
info_4['john'] = 108
print(info_4)

{'tom': 104, 'john': 108}

In [151]:
#adding new element
info_4['Siri'] = 109
print(info_4)

{'tom': 104, 'john': 108, 'Siri': 109}

In [153]:
print(info_4.keys())
print(info_4.values())
print(info_4.items())

dict_keys(['tom', 'john', 'Siri'])
dict_values([104, 108, 109])
dict_items([('tom', 104), ('john', 108), ('Siri', 109)])

In [154]:
for i,j in info_4.items():
    print(i,j)

tom 104
john 108
Siri 109

In [156]:
#combining two dictionaries
info_2 =dict({'ron':101,'john':102,'rick':105})
info_3 =dict({'harry':101,'nom':102,'rick':103})

In [159]:
info_2_3 = {**info_2,**info_3}
print(info_2_3)

{'ron': 101, 'john': 102, 'rick': 103, 'harry': 101, 'nom': 102}

In [161]:
info_2.update(info_3)
print(info_2)

{'ron': 101, 'john': 102, 'rick': 103, 'harry': 101, 'nom': 102}

In [162]:
len(info_2)

5

In [165]:
del info_2['ron']
print(info_2)

{'john': 102, 'rick': 103, 'harry': 101, 'nom': 102}

In [167]:
del info_1
print(info_1)#throw error

NameError: name 'info_1' is not defined

In [168]:
#to clear the contents
info_2.clear()
print(info_2)

{}

In [170]:
info_3 =dict({'harry':101,'nom':102,'rick':103})
info_3.pop('harry')

101

In [171]:
'john' not in info_3

True

In [172]:
'nom' in info_3

True

In [175]:
info_3 =dict({'harry':101,'nom':102,'rick':103})
info_4 =dict({'harry':101,'nom':102,'rick':103})

In [176]:
info_3 == info_4

True

In [177]:
info_3 != info_4

False

In [179]:
#shallow copy
new_info = info_3.copy()
print(new_info)

{'harry': 101, 'nom': 102, 'rick': 103}

In [180]:
msg ={'a':'sleep','b':'eat','x':['play','study']}

In [181]:
inform = msg.copy()
print(msg)
print(inform)

{'a': 'sleep', 'b': 'eat', 'x': ['play', 'study']}
{'a': 'sleep', 'b': 'eat', 'x': ['play', 'study']}

In [182]:
#in shallow copy,changes made in copy object gets reflected in the original also 
inform['x'][1] = 'cook'
print(inform)
print(msg)

{'a': 'sleep', 'b': 'eat', 'x': ['play', 'cook']}
{'a': 'sleep', 'b': 'eat', 'x': ['play', 'cook']}

In [183]:
import copy
inform1=copy.deepcopy(msg)
print(inform1)
print(msg)

{'a': 'sleep', 'b': 'eat', 'x': ['play', 'cook']}
{'a': 'sleep', 'b': 'eat', 'x': ['play', 'cook']}

In [186]:
#in deep copy no changes are reflected in the original 
inform1['x'][1] = 'study'
print(inform1)
print(msg)

{'a': 'sleep', 'b': 'eat', 'x': ['play', 'study']}
{'a': 'sleep', 'b': 'eat', 'x': ['play', 'cook']}

dictionary comprehension

In [187]:
square = {x:x*x for x in range(0,5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

python sets - collection of unique elements
set holds only the keys of the dictionary

In [189]:
myset = {0,1,2,3}

In [190]:
print(myset)

{0, 1, 2, 3}

In [191]:
myset = {0,1,1,1,2,3}
print(myset)

{0, 1, 2, 3}

In [192]:
#convert list to a set to remove duplicates
my_list = ['ram','mohan','john','ram']
print(my_list)

['ram', 'mohan', 'john', 'ram']

In [194]:
myset = set(my_list)
print(myset)

{'mohan', 'ram', 'john'}

In [196]:
# actually creates dictionary
myemptyset = {}
type(myemptyset)

dict

In [197]:
#create a empty set
myEmptyset = set()
type(myEmptyset)

set

In [198]:
set('Learning journal')
#convert string to set

{' ', 'L', 'a', 'e', 'g', 'i', 'j', 'l', 'n', 'o', 'r', 'u'}

In [199]:
set('Learning journal'.lower())

{' ', 'a', 'e', 'g', 'i', 'j', 'l', 'n', 'o', 'r', 'u'}

In [200]:
#convert list and tuple to set
set(['Literature','Science','Maths'])

{'Literature', 'Maths', 'Science'}

In [201]:
set(('eat','sleep','repeat'))

{'eat', 'repeat', 'sleep'}

In [202]:
#while converting dictionary to set,key values are ignored
set({1:'North',2:'South',3:'East',4:'West'})

{1, 2, 3, 4}

In [206]:
mySet = {0,1,2,3,4,5}

In [207]:
len(mySet)

6

In [214]:
mySet.add(6)
print(mySet)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11}

In [215]:
#elements can be added using tuple and list
mySet.update((7,8))
mySet.update([9,10,11])
print(mySet)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11}

In [217]:
mySet.remove(5)
print(mySet)

{0, 1, 2, 3, 6, 7, 8, 9, 10, 11}

In [220]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}

In [222]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [223]:
set1 | set2

{1, 2, 3, 4, 5, 6}

In [224]:
set1.intersection(set2)

{3, 4}

In [225]:
set2 & set1

{3, 4}

In [227]:
set1.difference(set2)

{1, 2}

In [228]:
set1 - set2

{1, 2}

In [229]:
set1.symmetric_difference(set2)

{1, 2, 5, 6}

In [230]:
set1 ^ set2

{1, 2, 5, 6}

In [236]:
print(1 in mySet)
print(4 not in mySet)

True
True

In [237]:
set1 = {0,1}
set2 = {0,1,2}

In [238]:
set1.issubset(set2)

True

In [239]:
#same as checking subset
set1 <= set2

True

In [240]:
set2.issuperset(set1)

True

In [241]:
#same as checking superset
set2 >= set1

True

In [242]:
#python set is an unordered set.There are no indexes maintained to access the elements
myset = {1,3,5,8}

In [243]:
myset{2}#gives error

SyntaxError: invalid syntax (<ipython-input-243-95bddb65f0e5>, line 1)

In [244]:
for i in myset:
    print(i)

8
1
3
5

In [247]:
#frozen set - immutable set
myfrozenset = frozenset((0,2,4))
print(myfrozenset)

frozenset({0, 2, 4})

In [248]:
myfrozenset.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

python datetime module :
primary objects used - date,time,datetime,timedelta

date class

In [250]:
from datetime import date

In [251]:
dob = date(1990,8,21)
print(dob)

1990-08-21

In [252]:
#valid checks are performed
date(1990,2,29)

ValueError: day is out of range for month

In [253]:
#current system object
date.today()

datetime.date(2021, 5, 6)

In [254]:
print(dob.day)
print(dob.month)
print(dob.year)

21
8
1990

In [256]:
dob.strftime("%A %d - %b %Y")
#refer documentation for more such formats and other functions

'Tuesday 21 - Aug 1990'

time class

In [258]:
from datetime import time

In [260]:
meet = time(23,33,48,900000) #valid checks will me made
print(meet)

23:33:48.900000

In [261]:
meet1 = time()#default value
print(meet1)

00:00:00

In [263]:
print(meet.hour)
print(meet.minute)
print(meet.second)
print(meet.microsecond)

23
33
48
900000

datetime

In [264]:
from datetime import datetime

In [266]:
dob_date_time = datetime(1990,3,4,11,34,44)
print(dob_date_time)

1990-03-04 11:34:44

In [267]:
print(dob_date_time.hour)

11

timedelta - represent duration

In [268]:
from datetime import timedelta
duration = timedelta(days = 2,hours = 3,minutes = 45)

In [269]:
print(duration) #other combination also possible including weeks

2 days, 3:45:00

arithmetic operations on datetime module

In [271]:
my_dob = datetime(1991,5,17)
your_dob = datetime(1990,8,21)

In [272]:
my_dob + your_dob

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'datetime.datetime'

In [274]:
agediff = my_dob - your_dob
print(agediff)

269 days, 0:00:00

In [275]:
#add duration to a day
duration = timedelta(days = 2)
my_dob + duration

datetime.datetime(1991, 5, 19, 0, 0)

In [278]:
duration = timedelta(hours= 1,seconds = 15)
your_dob + duration

datetime.datetime(1990, 8, 21, 1, 0, 15)

arithmetic operations on date

In [279]:
my_time = time(8,15,10)
your_time = time(11,33,48)

In [280]:
my_time + your_time #invalid

TypeError: unsupported operand type(s) for +: 'datetime.time' and 'datetime.time'

In [281]:
my_time = time(10,0)
duration = timedelta(hours = 1)

In [1]:
my_time - duration

NameError: name 'my_time' is not defined

functions

In [2]:
tuple_1 = (5,22,3)

In [4]:
#built in function
min(tuple_1)

3

In [12]:
#user-defined function
# a is the parameter
def even_or_odd(a):
    if a % 2 == 0:
        print('Even')
    else:
        print('odd')

In [13]:
#function call
# 3 is the arguement
even_or_odd(3)

odd

In [14]:
#all function returns a value
r = even_or_odd(5)
#return none
print(r)

odd
None

In [7]:
# return - terminates the function
#using return - recommended practice
def even_or_odd(a):
    if a % 2 == 0:
        return('Even')
    else:
        return('odd')

In [8]:
r = even_or_odd(5)
print(r)

odd

In [15]:
def greetings(greet,to):
    return(greet + " " + to + "!")

In [16]:
greetings("Hello","World")

'Hello World!'

In [17]:
greetings("Hello")

TypeError: greetings() missing 1 required positional argument: 'to'

In [18]:
def greetings(greet,to = "World"):
    return(greet + " " + to + "!")

In [19]:
greetings("Hello","World")

'Hello World!'

In [20]:
#takes default value
greetings("Hello")

'Hello World!'

In [23]:
def greetings(greet = "hello",to = "World"):
    return(greet + " " + to + "!")

In [24]:
greetings("Hello","World")

'Hello World!'

In [25]:
greetings()

'hello World!'

In [27]:
#cannot pass second arguement alone
greetings("mona")

'mona World!'

In [28]:
#keyword arguement passing - key value pairs are sent as arguement
#allows to change the order of the arguements
greetings(to = "mona")

'hello mona!'

In [30]:
#optional parameters need to mentioned after the mandatory parameters
def configure(os="windows",cpu,ram,disk):
    return " operating system = "  + os \
            +", processor = " + cpu \
            +", memory = " + ram \
            +", storage = " + disk

SyntaxError: non-default argument follows default argument (<ipython-input-30-084565cc6f60>, line 2)

In [31]:
def configure(cpu,ram,disk="512 GB SSD",os="windows"):
    return " operating system = "  + os \
            +", processor = " + cpu \
            +", memory = " + ram \
            +", storage = " + disk

In [32]:
configure("i5","8 GB")

' operating system = windows, processor = i5, memory = 8 GB, storage = 512 GB SSD'

In [34]:
#All the key value arguement should be present at the end
configure(cpu = "i5","8 GB")

SyntaxError: positional argument follows keyword argument (<ipython-input-34-bb3012b614db>, line 2)

In [36]:
configure("i5",ram = "8gb")

' operating system = windows, processor = i5, memory = 8gb, storage = 512 GB SSD'

In [38]:
configure("i5",ram = "8gb",disk="256 gb ssd")

' operating system = windows, processor = i5, memory = 8gb, storage = 256 gb ssd'

In [39]:
configure("i5","8GB",os = "mac")

' operating system = mac, processor = i5, memory = 8GB, storage = 512 GB SSD'

variable length arguements

In [40]:
def grocery_order(customer_name,items):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))

In [41]:
grocery_order("Mona",["bread","tooth paste"])

order received for :  Mona
single unit items :  ['bread', 'tooth paste']

In [43]:
#variable length arguements
# placing * - python takes the arguement to be a tuple
def grocery_order(customer_name, *items):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))

In [44]:
grocery_order("Mona","bread","tooth paste")

order received for :  Mona
single unit items :  ('bread', 'tooth paste')

In [45]:
def grocery_order(customer_name, *items,delivery_type = "Home"):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))
    print("Delivery type : ",delivery_type)

In [46]:
grocery_order("Mona","bread","tooth paste",delivery_type = "pick-up")

order received for :  Mona
single unit items :  ('bread', 'tooth paste')
Delivery type :  pick-up

In [47]:
#does not give error,but gives unexpected results
def grocery_order(customer_name, delivery_type = "Home",*items):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))
    print("Delivery type : ",delivery_type)

In [49]:
#always keep default arguements in the end
grocery_order("Mona",delivery_type = "pick-up","bread","tooth paste")

SyntaxError: positional argument follows keyword argument (<ipython-input-49-bb5f58b00b8b>, line 1)

In [50]:
#adding key value pairs type arguement-using dictionary-items_with_qty
#does not give error,but gives unexpected results
def grocery_order(customer_name,*items,items_with_qty,delivery_type = "home"):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))
    print("Other items:", str(items_with_qty))
    print("Delivery type : ",delivery_type)
    
    if 'eggs' in items_with_qty:
        print("Note:Handle with care")

In [51]:
grocery_order("Mona","bread","tooth paste",dict(eggs = 12, milk = "1 ltr"))

TypeError: grocery_order() missing 1 required keyword-only argument: 'items_with_qty'

In [52]:
grocery_order("Mona","bread","tooth paste",items_with_qty = dict(eggs = 12, milk = "1 ltr"))

order received for :  Mona
single unit items :  ('bread', 'tooth paste')
Other items: {'eggs': 12, 'milk': '1 ltr'}
Delivery type :  home

In [57]:
def grocery_order(customer_name,*items,items_with_qty = None,delivery_type = "home"):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))
    print("Other items:", str(items_with_qty))
    print("Delivery type : ",delivery_type)

In [58]:
grocery_order("Mona","bread","tooth paste")

order received for :  Mona
single unit items :  ('bread', 'tooth paste')
Other items: None
Delivery type :  home

In [59]:
#variable length dictionary
# placing ** - assumed to be a dictionary
#must be placed at the last
def grocery_order(customer_name,*items,delivery_type = "home",**items_with_qty):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))
    print("Other items:", str(items_with_qty))
    print("Delivery type : ",delivery_type)
    
    if 'eggs' in items_with_qty:
        print("Note:Handle with care")

In [60]:
grocery_order("mona","bread","toothpaste",eggs = 12,milk = "1 ltr" , delivery_type = "Pickup")

order received for :  mona
single unit items :  ('bread', 'toothpaste')
Other items: {'eggs': 12, 'milk': '1 ltr'}
Delivery type :  Pickup
Note:Handle with care

unpacking function arguements

In [61]:
def grocery_order(customer_name,*items,delivery_type = "home"):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))
    print("Delivery type : ",delivery_type)

In [62]:
grocery_order("mona","bread","toothpaste",delivery_type = "Pickup")

order received for :  mona
single unit items :  ('bread', 'toothpaste')
Delivery type :  Pickup

In [63]:
argList = ["bread","tooth paste"]

In [65]:
#python will unpack the arglist and sent it as a comma separated values
#much like in the earlier examples
grocery_order("mona",*argList,delivery_type = "Pickup")

order received for :  mona
single unit items :  ('bread', 'tooth paste')
Delivery type :  Pickup

In [72]:
def grocery_order(customer_name,delivery_type = "home",**items_with_qty):
    print("order received for : " ,customer_name)
    print("Other items:", str(items_with_qty))
    print("Delivery type : ",delivery_type)
    
    if 'eggs' in items_with_qty:
        print("Note:Handle with care")

In [73]:
#similarly,we can unpack the dictionary arglist 
argsDict = dict(eggs = 12,milk = "1 ltr")

In [75]:
grocery_order("mona",**argsDict,delivery_type = "Pickup")

order received for :  mona
Other items: {'eggs': 12, 'milk': '1 ltr'}
Delivery type :  Pickup
Note:Handle with care

In [76]:
def grocery_order(customer_name,*items,delivery_type = "home",**items_with_qty):
    print("order received for : " ,customer_name)
    print("single unit items : ",str(items))
    print("Other items:", str(items_with_qty))
    print("Delivery type : ",delivery_type)
    
    if 'eggs' in items_with_qty:
        print("Note:Handle with care")

In [77]:
argList = ["bread","tooth paste"]
argsDict = dict(eggs = 12,milk = "1 ltr")

In [78]:
grocery_order("mona",*argList,**argsDict,delivery_type = "Pickup")

order received for :  mona
single unit items :  ('bread', 'tooth paste')
Other items: {'eggs': 12, 'milk': '1 ltr'}
Delivery type :  Pickup
Note:Handle with care

Lambda functions

In [79]:
#anonymous function
lambda x,y : x+y

In [80]:
#no return values allowed
lambda x,y: return x+y

SyntaxError: invalid syntax (<ipython-input-80-b99a3d6ec139>, line 1)

In [81]:
#no multiple lines allowed
lambda x,y : 
    x+y

SyntaxError: invalid syntax (<ipython-input-81-9685b91b4abf>, line 2)

In [82]:
f = lambda x,y : x+y

In [83]:
f(5,3)

8

In [85]:
def apply_ops(*args,ops):
    return ops(args)

In [86]:
#sum, a built in fuction as arguement
#supplying data + logic , Functional programming 
apply_ops(2,3,7,9,ops = sum)

21

In [87]:
apply_ops(2,3,7,9,ops = len)

4

In [90]:
num_list = [[2,8,11],[4,5,3],[2,5,16]]

In [93]:
max(num_list)

[4, 5, 3]

In [95]:
#returns subset with largest sum
max(num_list,key = sum)

[2, 5, 16]

In [94]:
#returns sublist with largest no at position 3
#key is applied to each element
max(num_list,key = lambda x:x[2])

[2, 5, 16]

In [98]:
num_list = [i for i in range(2,20,2)]

In [99]:
l = map(lambda x : x * x,num_list)

In [100]:
print(list(l))

[4, 16, 36, 64, 100, 144, 196, 256, 324]

errors and exceptions

In [102]:
num_list = [1,3,5,7]

In [103]:
#syntax error
if 5 in num_list
    print("present")

SyntaxError: invalid syntax (<ipython-input-103-0d7645c4d6ed>, line 1)

In [107]:
mydict = {1:'Ross',2:'Taylor'}

In [106]:
#exception
mydict[3]

KeyError: 3

In [108]:
#exception - logical error
a = 3
b = 0
print(a/b)

ZeroDivisionError: division by zero

In [109]:
#exception
a = 2
b = "Hi"
print(a+ b)
#more built-in exception are found in the documents
#all built in exception are classes and have Exception class as the parent class

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Basics of exception handling

In [114]:
n = int(input('please enter a number: '))
print('you entered : ' + str(n))

please enter a number: 34
you entered : 34

In [113]:
n = int(input('please enter a number :'))
print('you entered : ' + str(n))

please enter a number :a

ValueError: invalid literal for int() with base 10: 'a'

In [115]:
#using exception to handle user errors
#try block
try:
    n = int(input('please enter a number: '))
    print('you entered : ' + str(n))
#except block - runs when try throws exception
except ValueError:
    print('Oops!Enter a numeric value.')
print('Finished!')
#this approch is called exception handling

please enter a number: d
Oops!Enter a numeric value.
Finished!

In [116]:
my_file = open('E:\demo\data',"r")
for line in my_file:
    print(line)

FileNotFoundError: [Errno 2] No such file or directory: 'E:\\demo\\data'

In [118]:
#unsafe code
try:
    my_file = open('E:\demo\data',"r")
    for line in my_file:
        print(line)
#fall back code
except FileNotFoundError:
    print('File not found')

File not found

try-except deep dive

In [119]:
def file_divide(file,divisor):
    my_file = open(file,'r')
    sum = 0
    
    for num in my_file:
        sum += int(num)/divisor
    
    my_file.close()
    return sum

In [ ]:
#function_call
file_divide('E:\demo\data','r')

In [122]:
def file_divide(file,divisor):
    try:
        my_file = open(file,'r')
    except FileNotFoundError:
        print('file not found in given location' + file)
        return
    
    sum = 0
    
    try:
        for num in my_file:
            sum += int(num)/divisor
    except ZeroDivisionError:
        print('cannot divide by zero')
        return
    except ValueError:
        print('Invalid value in the file ')
    #wildcard exception - placed last to catch any other exceptions
    except:
        print('Something went wrong!')
        return
    #finally block always execute - this should contain 
    #all clean up activities
    finally:
        my_file.close()
    return sum

In [124]:
#user defined exceptions
def advance_by(die_input):
    print('moved you by' + str(die_input))

In [125]:
def advance_by(die_input):
    if die_input <= 0:
        print('Not a valid number.Enter a number greater than 0')
    elif die_input > 6:
        print('Not a valid number.Enter a number lesser than 6')
    else:
        print('moved you by' + str(die_input))

In [126]:
advance_by(-2)

Not a valid number.Enter a number greater than 0

In [127]:
advance_by(9)

Not a valid number.Enter a number lesser than 6

In [128]:
#the above function can be called on various occations at various places
#print msg needs to be removed and show the error to the caller.
def advance_by(die_input):
    if die_input <= 0:
        return('Not a valid number.Enter a number greater than 0')
    elif die_input > 6:
        return('Not a valid number.Enter a number lesser than 6')
    else:
        print('moved you by' + str(die_input))

In [129]:
#error handling at the callers' side
result = advance_by(7)

if result == 'Not a valid number.Enter a number greater than 0':
    print('die cannot give <=0')
elif result == 'Not a valid number.Enter a number lesser than 6':
    print('die cannot give >6')

die cannot give >6

In [130]:
#recommended approach
#raising value-error
def advance_by(die_input):
    if die_input <= 0:
        raise ValueError('Not a valid number.Enter a number greater than 0')
    elif die_input > 6:
        raise ValueError('Not a valid number.Enter a number lesser than 6')
    else:
        print('moved you by' + str(die_input))

In [131]:
#now the callers can handle the error in the standard way
try:
    advance_by(7)
except ValueError:
    print('die cannot be <= 0 or > 6')
#the caller method cannot still identify which type of error - <= 0 or >6

die cannot be <= 0 or > 6

In [132]:
#to print the original error by the function
#reliable on the err msg provided by the function
try:
    advance_by(7)
except ValueError as err:
    print(str(err))

Not a valid number.Enter a number lesser than 6

In [133]:
try:
    advance_by(-2)
except ValueError as err:
    print(str(err))

Not a valid number.Enter a number greater than 0

In [134]:
#Custom user defined exception
class DieInputError(Exception):
    pass

In [135]:
#this is done as a standard practice - base class and child class
#inherit DieInputError class to get two exception
class DieInputLowerBoundError(DieInputError):
    pass
class DieInputUpperBoundError(DieInputError):
    pass

In [136]:
def advance_by(die_input):
    if die_input <= 0:
        raise DieInputLowerBoundError('Not a valid number.Enter a number greater than 0')
    elif die_input > 6:
        raise DieInputUpperBoundError('Not a valid number.Enter a number lesser than 6')
    else:
        print('moved you by' + str(die_input))

In [137]:
try:
    advance_by(0)
except DieInputLowerBoundError:
    print("value <= 0")
except DieInputUpperBoundError:
    print("value > 0")

value <= 0

Python class and object

In [1]:
#class - blueprint and a namespace
#object -- materialization of the blue print

In [2]:
#using class to bundle some variables and functions
#MyClass acts like namespace here  - no object creation
class MyClass:
    my_num = 1234
    def say_hello(name):
        print('Hello' + name)

In [3]:
MyClass.my_num

1234

In [4]:
MyClass.my_num = 4577

In [5]:
MyClass.my_num

4577

In [6]:
MyClass.say_hello('Prashant')

HelloPrashant

In [8]:
class Car:
    #initialization method
    #initializers create object and set the initial state of the object
    #has to have self as the first attribute-must be present
    def __init__(self,name,brand):
        
        #insatnce variables - model_brand,model_name
        self.model_name = name
        self.model_brand = brand
   
    #instance method - must have first arguement for the self
    #hidden from the other users
    #self(name recommended) can be replace with any other name - like - this
    def launch(self):
        print(f"{self.model_name} by  {self.model_brand} launched.")

In [15]:
#object
car1 = Car('Hector','MG')

In [16]:
#accessing instance variables
car1.model_name = 'Hector Plus'
car1.model_name

'Hector Plus'

In [13]:
car2 = Car('i10','Hyundai')

In [14]:
car2.model_name

'i10'

In [17]:
car1.launch()

Hector Plus by  MG launched.

In [19]:
car2.launch()

i10 by  Hyundai launched.

class inheritance

In [21]:
class Car:
    def __init__(self):
        self.current_state = 'standing'
        self.current_speed = 0
        
    def start(self):
        self.current_state = 'running'
        self.current_speed = 10
        
        
    def stop(self):
        self.current_state = 'standing'
        self.current_speed = 0
     
    def speed_up(self,speed):
        if self.current_state == 'standing':
            self.start()
        self.current_speed += speed
        
    def speed_down(self,speed):
        if self.current_state == 'running':
             self.current_speed -= speed
                
    def show_state(self):
        print(f"{self.current_state} and current speed is {self.current_speed}.")

In [22]:
car1 = Car()

In [23]:
car1.show_state()

standing and current speed is 0.

In [24]:
#using inheritance
class Hector(Car):
    #place holder for the future code
    pass

In [25]:
h1 = Hector()

In [26]:
h1.show_state()

standing and current speed is 0.

In [27]:
#changing an existing method
class Hector(Car):
    def show_state(self):
        print(f"Hector is {self.current_state} and current speed is {self.current_speed}.")

In [28]:
h1 = Hector()

In [29]:
h1.show_state()

Hector is standing and current speed is 0.

In [30]:
#new method
class Hector(Car):
    def show_state(self):
        print(f"Hector is {self.current_state} and current speed is {self.current_speed}.")
        
    def park(self):
        self.current_state = "Parked"
        self.current_speed = 0

In [38]:
h1 = Hector()

In [39]:
h1.start()
h1.show_state()

Hector is running and current speed is 10.

In [40]:
h1.speed_up(40)
h1.show_state()

Hector is running and current speed is 50.

In [41]:
h1.speed_down(30)
h1.show_state()

Hector is running and current speed is 20.

In [45]:
h1.park()
h1.show_state()

Hector is Parked and current speed is 0.

class methods vs instance methods

In [55]:
class Car:
    #class attribute
    brand = "MG Hector"
    
    #class method
    def launch_year():
        return 2020
    
    def __init__(self):
        #instance attribute
        self.current_state = "standing"
        self.current_speed = 0
    
    #instance method
    def show_state(self):
        print(f"{self.brand} is {self.current_state} and current speed is {self.current_speed}")

In [56]:
car1 = Car()
car2 = Car()

In [57]:
#instance variables accessed using the object name
car1.current_speed = 10
car1.current_state = "Running"
car1.show_state()

MG Hector is Running and current speed is 10

In [58]:
#instance variables are not shared between the objects
car2.show_state()

MG Hector is standing and current speed is 0

In [59]:
#class attribute accessed using the class name
Car.brand = "MG Hector Plus"

In [60]:
#class attribute is shared across the objects 
car1.show_state()
car2.show_state()

MG Hector Plus is Running and current speed is 10
MG Hector Plus is standing and current speed is 0

In [61]:
#class attribute can be accessed by object names too
#changing the value using object name is not recommended/not correct
car1.brand

'MG Hector Plus'

In [62]:
#class method accessed using class name
Car.launch_year()

2020

In [63]:
#class method cannot be accessed using the object name
car1.launch_year()

TypeError: launch_year() takes 0 positional arguments but 1 was given

In [67]:
#decortor - design pattern
#allows to add new functionality using the existing object without modifying the structure
class Car:
    brand = "MG Hector"
    
    #mark this method as class method
    @classmethod
    def launch_year(cls):
        return 2020
    
    def __init__(self):
        self.current_state = "standing"
        self.current_speed = 0
        
    def show_state(self):
        print(f"{self.brand} is {self.current_state} and current speed is {self.current_speed}")

In [68]:
Car.launch_year()

2020

In [70]:
car1 = Car()
car1.launch_year()

2020

In [ ]:
#check ide for some more demos and projects